*, html {
  font-family: "Roboto", sans-serif;
}

footer a {
  text-decoration: none;
}

/* https://unsplash.com/photos/FO7JIlwjOtU */
#banner {
  background-image: url(./assets/images/banner.jpg);
  background-size: cover;
}

#gamer {
  background-image: url(https://images.unsplash.com/photo-1626544827819-6ced2af2346c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2767&q=80);
}

/* https://unsplash.com/photos/2QUvkQTBh5s */
#weather {
  background-image: url(./assets/images/johannes-plenio-2QUvkQTBh5s-unsplash.jpg);
}

/* https://unsplash.com/photos/h1Vmg84tJeg */
#password {
  background-image: url(./assets/images/photo-1637087383682-40f325297582.jpg);
}