/* Setting color variables */
:root {
  --darkestblue: #03045e;
  --headerblue: #023e8a;
  --brightblue: #00b4d8;
  --paleblue: #caf0f8;
}

* {
  box-sizing: border-box;
}

/* Fonts from Google. */
body {
  font-family: 'Roboto', sans-serif;
}

header {
  padding: 15px 15px 15px 0;
  background-color: var(--darkestblue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
}

header div {
  background-color: var(--headerblue);
  padding: 15px;
  width: 300px;
  text-align: right;
  display: inline-block;
  flex: 0 0 300px;
  border-radius: 0 .5rem .5rem 0;
}

header h1 {
  color: var(--paleblue);
  font-size: 30px;
  display: inline-block;
  vertical-align: middle;
}

header img {
  display: inline-block;
  height: 50px;
  border-radius: 50%;
  border: solid 2px var(--darkestblue);
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

nav ul {
  margin-right: 25px;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  font-size: 16px;
}

nav a {
  text-decoration: none;
  color: var(--paleblue);
  flex: 0 0 50px;
  font-size: 24px;
  transition: all 500ms;
  border-bottom: solid 2px transparent;
  margin: 0 15px;
}

nav a:hover {
  transform: translateY(-5px);
  border-bottom: solid 2px var(--paleblue);
}

/* image from unsplash found here https://unsplash.com/photos/Sc1GJCninik */

/* Free to use under unsplash license https://unsplash.com/license */

.banner {
  height: 300px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-position: center;
}

main, footer, .projects, footer section {
  display: flex;
  flex-wrap: wrap;
}

main, footer {
  width: 90%;
  margin: 0 auto;
}

h2 {
  font-size: 40px;
  color: var(--headerblue)
}

h4 {
  font-weight: 500;
  color: var(--darkestblue)
}

aside {
  width: 20%;
  display: inline-block;
  padding: 15px 0;
  text-align: left;
  margin: 20px 0;
  border-right: solid 5px var(--headerblue);
}

section {
  margin: 30px 0;
  padding-left: 40px;
  flex-grow: 0;
  flex-shrink: 0;
  display: inline-block;
  width: 80%;
}

section p {
  color: var(--darkestblue);
}

.projects {
  justify-content: space-between;
}

/* Features the first a tag in projects */
.projects a:nth-of-type(1) {
  flex: 2 0 auto;
  width: 80%;
  height: 300px;
}

/* Background images for a tags */

#seoproject {
  background-image: url("https://dcrlsn.github.io/seo-refactor-project/assets/images/digital-marketing-meeting.jpg");
}

/* image from unsplash found here https://unsplash.com/photos/S6ZZulF-Qno */

/* Free to use under unsplash license https://unsplash.com/license */

#project1 {
  background-image: url("../images/photo-1637088474386-af8895dd0921.jpg");
}

/* image from unsplash found here https://unsplash.com/photos/h1Vmg84tJeg */

/* Free to use under unsplash license https://unsplash.com/license */

#project2 {
  background-image: url("../images/photo-1637087383682-40f325297582.jpg");
}

.projects a {
  display: inline-block;
  position: relative;
  flex: 1 0 auto;
  width: 45%;
  height: 150px;
  background-size: cover;
  background-position: center;
  margin-bottom: 5px;
  transition: all 500ms ease-in-out;
  border: solid 3px var(--headerblue);
  border-radius: .5rem;
  color: transparent;
}

/* Fixes a spacing issue on non-featured projects */

.projects a:nth-of-type(even) {
  margin-right: 5px;
}

/* Shading effect that disappears upon hover to hilight a project */

.projects a::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: var(--darkestblue);
  opacity: .2;
  transition: all 500ms ease-in-out;
}

.projects a:hover::before {
  opacity: 0;
}

/* Label and label effects for hover */

.projects a::after {
  content: attr(data-descr);
  transition: all 500ms ease-in-out;
  display: inline-block;
  width: 200px;
  position: absolute;
  bottom: 15px;
  left: 0px;
  padding: 15px;
  text-align: center;
  color: var(--paleblue);
  background-color: var(--headerblue);
  border-radius: 0 .5rem .5rem 0;
}

.projects a:hover::after {
  transform: translateY(-20px) translateX(10px);
  border-radius: .5rem;
}

footer section {
  justify-content: space-around;
  align-items: center;
}

footer section a {
  text-decoration: none;
  cursor: pointer;
  color: var(--headerblue);
  font-size: 20px;
  border-bottom: solid 2px transparent;
  transition: all 250ms ease-in-out;
}

footer section a:hover {
  color: var(--brightblue);
}

/* Media queries for different screen sizes */
@media screen and (min-width:1920px) {
  main, footer {
    width: 1800px;
    margin: 0 auto;
  }

}

@media screen and (max-width:992px) {
  main, footer, .projects {
    flex-direction: column;
  }

  footer section {
    margin-bottom: 40px;
    justify-content: space-between;
  }

  footer a {
    display: inline-block;
    text-align: left;
    width: 50%;
    padding: 5px 20px;
  }

  footer a:nth-of-type(even) {
    text-align: right;
  }

  header ul {
    padding-right: 20px;
    width: 100px;
  }

  header ul li {
    padding: 5px 0;
  }

  aside {
    border-bottom: solid 3px var(--darkestblue);
    border-right: none;
    width: 100%;
  }

  section {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .projects a {
    width: 100%;
  }

  .projects a:nth-of-type(1) {
    width: 100%;
  }
}

@media screen and (max-width:768px) {
  footer section a {
    font-size: 16px;
  }
}